
body{
    width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
}
.row {margin-top: 20px;}

#createRoom:active { 
    background-color: lightgrey;
}
#createRoom:focus {outline:0;}

#content {
    margin: auto;
    width: 960px;
}

#info-room img{
    margin: 0 auto;
    margin-bottom: 20px;
}
/* Mobiles */
#devices {
    margin: 20px;
}
.smartphone {
    margin: 20px;
    width: 200px;
    height: 320px;
    float: right;
    background-color: #78909c;
    text-align: center;
    border: solid 2px black;
    border-radius: 10px;
}
input:focus {outline:0;}
input:active { 
    opacity: 0.5;
}
.circle {
    margin: 5% 25%;
    width: 85px;
    height: 85px;
    background-color: red;
    border-radius: 50px;
}
.answer-option{
    width: 80%;
    height: 10%;
    margin: 3% 10%;
    border: solid 1px black;
    border-radius: 50px;
}
.red {background-color: red;}
.green {background-color: green;}
.blue {background-color: blue;}
.yellow {background-color: yellow;}