
body{
    width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
}
h1 {
    border-bottom: solid 1px grey;
    padding-bottom: 20px;
    padding-left: 50px;
    font-family: 'Playfair Display', serif;
    color: #ff8484;
    font-size: 2em;
}

#createRoom {
    margin: 5%;
    width: 20%;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    color: grey;
    border-style: dashed;
    border-color: black;
}
#createRoom:active { 
    background-color: lightgrey;
}
#createRoom:focus {outline:0;}

#content {
    margin: auto;
    width: 960px;
}

#info-room {
    border: solid 2px grey;
    border-radius: 20px;
    background-color: white;
    width: 400px;
    text-align: center;
    padding-bottom: 20px;
}
#info-room img{
    margin: 0 auto;
    margin-bottom: 20px;
}

#devices {
    margin-right: 20px;
    float:right;
    background-color: white;
    border: solid 2px brown;
}
.smartphone {
    width: 150px;
    height: 200px;
    background-color: yellow;
    text-align: center;
}