<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebsocketQuiz</title>
    </head>
    <body>
        <h1>Room <%= roomname %></h1>
        <p>
            Pass this link to your friends! <a href="<%= roomlink %>"><%= roomlink %></a>
        </p>        
    </body>
</html>
