<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Websocket Quiz</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="../static/js/game.js"></script>
  </head>
  <body>
    <p>
      Welcome to this room. </br>
      <div id="users"></div>
      <div id="content"></div>
    </p>
  </body>
</html>
